/* Reset the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Color variables */
:root {
    --white: #fff;
    --lighterblue: #5098E6;
    --lightblue: #3A2EBD;
    --darkblue: #0A1C3D;
    --darkgreen: #157347; 
    --red: #BF1900;
    --darkyellow: #A38B02;
    --darkorange: #A3500B;
    --black: #1a1a1a;
}
/* UV Index Color Scaling
    2 or less = low = Green
    3 to 5 = moderate = Yellow
    6 to 7 = high = Orange
    8 to 10 = very high = Red
*/

/*Give the body element a parent element height to compare against  */
html {
    height: 100%;
} 

body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
  font-size: 24px;  
}

h4 {
    font-size: 21px;
}

input {
    font-size: 100%;
}

button {
    font-size: 100%;
    background-color: var(--lighterblue);
    border: none;
    height: 30px;
    margin-top: 10px;
}

button:hover {
    background-color: var(--lightblue);
    color: var(--white);
}

.favorites {
    background-color: aliceblue;
}

.favorites:hover {
    color: var(--white);
}

ul {
    list-style: none;
    padding-right: 1.3rem;
}

li {
    padding-top: 0.8rem;
}

.container {
    display: flex;
    padding: 1rem;
}

.city-container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.city-favorites {
    display: flex;
    flex-direction: column;
    border-top: solid 1px var(--lightblue);
    margin-top: 6px;
}

.weather-results-container {
    display: flex;
    flex-direction: column;
}

.todays-weather-card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--black);
    padding: 0.5rem;
}

.primary-card-title {
    display: flex;

}

.card-list {

}

.list-items {
    display: flex;
    white-space: nowrap;

}

.five-day-forecast-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.five-day-forecast-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
    color: var(--white); 
}

.card {
    width: 189px;
    height: 227px;
    background-color: var(--darkblue);
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

header {
    height: 60px;
    background: linear-gradient(to right, #3A2EBD, #0A1C3D);
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
    color: var(--white);
}
